.bottom-text {
  margin-top: 350px;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  font-size: 60px;
  font-weight: 800;
}

.top-text {
  margin-top: 150px;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  font-size: 60px;
  font-weight: 800;
}

/* .meme-image {
  margin-bottom: 200px;
  border-radius: 1rem;
  border-color: rgb(46, 35, 35);
  margin: auto;
} */

.meme-back {
  height: 50rem;
  background-size: cover;
}
